/***
Techpoint List Stylesheet


****/


/**
=============================================
GENERAL
=============================================

**/
html, body{
    max-width: 100% !important;
    overflow-x: hidden;
    min-height: 100% !important;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

#details-2{
    max-width: 100% !important;
    overflow-x: hidden;
}

#low-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header{
    transition: all 600ms ease-in-out;
}

body {
    background-color: #fafafa !important;

}

h1 {
    font-size: 21px;
}
h2 {
    font-size: 17px;
}
h3 {
    font-size: 15px;
}
h4 {
    font-size: 13px;
}
h5 {
    font-size: 11px;
}
h6 {
    font-size: 9px;
}
@media only screen and (min-width: 570px){

    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }


}

.modal-content{
    background-color: rgba(71, 154, 221, 0.9)
}

.blue {
    background-color: #4f9acc !important;
}

.blue-text {
    color: #4f9acc !Important;
}

#mobile-demo li{
    padding: 2%;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid transparent !important;
    box-shadow: 0 1px 0 0 #9e9e9e;
    color: #9e9e9e;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section .bordered, .bordered, tbody/*, input[type=search]*/{
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0.2) !important;
}

tr:hover{
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 2px 1px 0 rgba(0,0,0,0.2) !important;
}

tr:nth-child(1):hover{
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1), 0 2px 1px 0 rgba(0,0,0,0.1) !important;
}

.card{
    box-shadow: 8px 8px 3px 0 rgba(0,0,0,0) !important;
    transition: 0.4s ease-in-out;
}

.grey-background{
    box-shadow: 8px 8px 3px 0 rgba(0,0,0,0.3) !important;
    background: rgba(237, 237, 237, 1);
    transition: 0.4s ease-in-out;

}

.card:hover{
    box-shadow: 3px 3px 1px 0 rgba(0,0,0,0.1), 3px 2px 1px 0 rgba(0,0,0,0.1) !important;
}

.grey-background:hover{
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.1), 0 2px 1px 0 rgba(0,0,0,0.1) !important;
}


.ads-content img:hover{
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.1), 0 2px 1px 0 rgba(0,0,0,0.1) !important;
}


input[type=number] {
    -moz-appearance:textfield;
}

input[type=search]{
    background-color: transparent;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 0px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}


.bordered {
    width: 100%;
    height: auto;
    border: solid 2px #eeeeee;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
    margin-top: 5%;
}

.bordered .row {
    margin: 0px;
}


.bordered {
    width: 100%;
    height: auto;
    border: solid 2px #eeeeee;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
    margin-top: 5%;
}

.bordered .row {
    margin: 0px;
}

/*
footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
*/

.submit-btn {
    display: block;
    margin-left: auto;
    margin-right: 1.2rem;
}


/****
============================================
Header
============================================
****/
nav .container ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #000000;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav a {
    color:#4f9acc;
}
nav {
    display: inline-block;
    color: #fff;
    background-color: #ffffff;
    width: 100%;
    height: 25%;
    z-index: 1000;
    transition: all 600ms ease-in-out;
    line-height: 56px;
}

nav .row {
    margin-bottom: 0px !important;
}
nav .brand-logo {
    position: absolute;
    color: #000000;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
}

.low-nav {
    display: inline-block;
    position: relative;
    left: 23%;
}

.check_mark{
    width: auto;
    height: 20px;
}

#search-box{
    background-color: #ffffff;
    border: 2px solid #4f9acc !important;
}

@media only screen and (min-width: 570px){
    nav .brand-logo {
        left: 10%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

}


.search-container {
    position: relative;
}

.search-container input[type=search]{
    position: relative;
    z-index: 101;
}

.search-container form{
    height: auto;
}

.search-board {
    display: none;
    width: 100%;
    position: absolute;
    left: 1.5%;
    border: 1px solid #f2f2f2;
    padding-bottom: 1.3rem;
    border-top: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.error {
    color: red;
}

.update{
    margin-right: calc(100% - 160px);
}

.update .select-img, .remove-img{
    width: 80px !important;
}


#search {
    margin-left: 2%;
    margin-top: 2%;
}

.search-container i {
    position: relative;
    left: 43%;
    max-width: 10%;
    margin-bottom: -25px;

}

.trending{
//padding: 0 5% 0 5%;
}

.ad-image{
    width: 100%;
    height: auto;
}

#search-page {
    position: fixed;
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    height: 61.555vh;
    bottom: 0;
    width: 100%;
    z-index: 20;
    overflow-y: scroll;
}

#search-page i {
    display: none;
    position: relative;
    margin-top: 3%;
    left: 90%;
}



.search-card {
    padding: 1rem 0 1rem 0 !important;
    border-top: solid 0.5px  rgba(0,0,0,0.2);
    border-bottom: solid 0.5px  rgba(0,0,0,0.2);
}

@media only screen and (min-width: 570px){
    #search-page {
        position: fixed;
        display: none;
        background-color: rgba(255, 255, 255, 0.9);
        height: 78vh;
        bottom: 0;
        width: 100%;
        z-index: 20;
        overflow-y: scroll;
    }


}



.labels {
    margin-top: 5%;
}

.filter {
    line-height: 1.5;
    font-size: small;
}

nav select {
    background-color: transparent;
}

.dropdown-content li {
    padding-top: 10px;
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: 10px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}



/**
=============================================
ELEMENTS
=============================================
**/

.tabs {
    background-color: transparent;
}

.tabs .tab a:hover {
    color: #4f9acc !important;
}

.tabs .tab a {
    color: #4f9acc !important;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #4f9acc ;
    will-change: left, right;
}

.btn-round {
    border-radius: 25px;
}


.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #4f9acc;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}


/****
==============================================
Login Panel
==============================================
***/

.social-btn {
    padding: 2px !important;
    width: 80px;
    font-size: smaller;
    text-transform: capitalize;
}

@media only screen and (min-width: 900px) {
    .social-btn {
        padding: 2px !important;
        width: 115px;
        font-size: smaller;
        text-transform: capitalize;
    }
}

#login-panel {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 500;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: scroll;
}

#login-close {
    float: right;
}

.login-logo {
    display: block;
    margin-left:auto;
    margin-right: auto;
    max-width: 30%;
    margin-bottom: 5%;
}

.login-box {
    position: relative;
    top: 5vh;
    height: 100vh;
}

.login-box .row {
    margin-bottom: 5px;
}

.login-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 60%;
}

@media only screen and(min-width: 570px){
    .login-box .row {
        margin-bottom: 5px;
    }

    .login-panel {
        left: 23% !important;
        padding-top: 20%;
    }
}

.master{
    margin-top: 10px;
}

.widget-container{
    position: fixed;
    width: 40px;
    bottom: 70px;
//right: 0px;
}


.widget{
    position: relative;
    width: 40px;
    height: 40px;
    transition: .4s ease-in-out;
}

.widget:hover{
    background-color: rgba(71, 154, 300, 0.6);
}

.master-pic img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.name{
    position: relative;
    top: -115%;
}

.master-logo{
    max-width: 40%;
}

@media only screen  and (min-width: 500px){
    .master-logo{
        max-width: 80%;
    }
}

/***
=================================================
Trending page
=================================================
****/

.welcome-banner {
    display: block;
    margin-right: auto;
    margin-left: auto;
    word-wrap: break-word;
    max-width: 100%;
    height: auto;
    border: solid 2px;
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #eeeeee;
    padding: 5px 5px 5px 5px;
    margin-top: 5%;
}
.landing-page .row .col {
    padding: 0px 2px 0px 0px;
}

.landing-page .btn {
//width: 40%;
}

.landing{

}

@media only screen and (max-width: 570px){
    .landing{
        width: 100% !important;
    }

    nav{
        height: 30% !important;
    }
}

.ads {
    position: fixed;
/ / background: rgba(20, 20, 250, 0.9);
}

@media only screen  and (min-width: 570px){
    .landing-page .btn {
        width: 23%;
        height: 40px;
    }

    .landing{
    //width: 25% !important;
    }
}

.underline {
    max-width: 15%;
    height: 3px;
    background-color: #4f9acc;
    margin-top: -15px;
}
.trend-card {
    width: 100%;
    height: 170px;
    border: solid 2px;
    background-color: #ffffff;
    border-radius: 10px;
//padding: 10px 10px 10px 10px;
    border-color: #eeeeee;
}

.card-content{
    font-size: 0.8rem;
}

.trend-subtext{
    font-size: 0.6rem;
}

.trend-img{
//padding: 5%;
//height: 40% !important;
//width: 100% !important;
//margin-top: 10px;
//border: 1px solid #47a3da;
    width: 100%;
    height: auto;
}



.card{
    border: 1px solid #47a3da !important;
}

.card-content{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.9rem;
    #border: 1px solid #000000;
}

.trend-card a{
    padding-right: 10px;
}


/****
====================================================
Edit Profile Page
===================================================
*****/

.details {
    width: 100%;
    height: auto;
    border: solid 2px #eeeeee;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
    margin-top: 5%;
}

.l-textarea {
    height: 100px;
}

.s-textarea {
    height: 70px;
}

.user-thumbnail img{
    width: 40%;
}


@media only screen and (max-width: 500px){
    .user-thumbnail img{
        width: 100%;
    }
}



/***
=====================================================
Logged-In User
=====================================================
**/
.thumbnail {
    background-color: grey;
    width: 50px;
    height: 50px;
}

.pic-container {

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0.2) !important
}

.p-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 100%;
}


.profile-header {
    display: block;
    position: relative;
    background: url("../images/innovationheader.png");
    background-size: 100%;
    height: 65vh;
    margin-bottom: 5%;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.6), 0 2px 2px 0 rgba(0,0,0,0.2) !important;
}

.company-logo img{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.6), 0 2px 2px 0 rgba(0,0,0,0.2) !important
}


.company_chip:hover{
    background-color: teal;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
}

.profile-header button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav_height{
    height: 100px;
}


@media only screen and (max-width: 570px){
    .nav_height{
        height: 30% !important;
    }
}

.not-found{
    text-align: center;
    vertical-align: middle;
}

.not-found img{
    width: 40px;
    height: 40px;
}

.not-found h3{
    vertical-align: middle;
}


.social-icons {
    position: absolute;
    bottom: -12px;
//right: 10px;
    margin-top: 5%;

}
.social-icons img {
    display: block;
    margin-left: auto;
    margin-right: auto;
//max-width: 60%;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 30px;
}


.profile-pic.large {
    max-width: 150px;
    height: 150px;
    border-radius: 2%;
    background: grey;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;

}

.select-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5px;
    color: black;
//font-size: xx-small;
    padding: 0;
    background-color: transparent;
    border: solid 1px #4f9acc;
}


.remove-img {
//width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5px;
    color: black;
//font-size: xx-small;
    padding: 0;
    background-color: transparent;
    border: solid 1px #4f9acc;
}
.startup-image{
    height: 150px !important;
    width: 150px;
}


.social-icons div.input-field.extra_social.col.s12{
    background-color: grey;
}

.social-icons a {
    margin-bottom: -12px;
}
@media only screen and (max-width: 800px){

    .social-icons{
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }


    .social-icons img {
        display: block;
        width: 30px;
        height: 30px;
    }

    .extra_social{
        right: 8.3333333333% !important;
    }

    .row .select_final{
        margin-left: 8.3333333333% !important;
    }

    .social-icons div.col.s2.m2{
        margin-left: 5px;
    }

    .profile-header{
        height: 50vh;
    }
}

.detail-text {
    padding: 20px;
}

.black-layer {
    background: rgba(40,40,40,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#founded .row {
    padding: 1.0rem 0 1.0rem 0;
}


#work-experience p{
    margin: 1.46rem 0 1.168rem 0;

}
#work-experience h3{
    color: #4f9acc
}

.span-wrapper {
    margin: 1.46rem 0 1.168rem 0;
}

#select-panel button {
    margin: 1.46rem 0 1.168rem 0;

}

@media only screen and (min-width: 570px){
    .pic-container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        bottom: -40px;
        left: 7.5%;
        overflow: hidden;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .founder {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        top: -40px;
        left: 7.5%;
        overflow: hidden;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .profile-title {
        margin-top: 10%;
    }

    .profile-title h3 {
        font-weight: bold;
        font-size: xx-large;
    }
    .profile-header button {
        margin-top: 5%;
        width: 70%;
    }


}

@media only screen and (min-width: 570px){

    .pic-container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        bottom: -40px;

        left: 15.5%;
        overflow: hidden;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .founder {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        bottom: -40px;
        left: 7.5%;
        overflow: hidden;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

}


/**
==============================
Startup Overview Page
==============================
**/

.ent-pic {
    display: block;
}

.founder-container {
    margin-top: 3%;
    overflow: hidden;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/*Founder star*/
/*
/--------------/
*/.rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      width: 30px;
      height: 30px;

  }
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    color: gold;
}

.rating > span:before,
.rating > span/*:hover */~ span:before {
    content: "\2605";
    position: absolute;
}

/*
/------------------------/
*/

.rating-column{
    position: absolute;
    bottom: 10px;
    color: white;
}

.rating-column span{
    font-size: 15px;
    position: relative;
//bottom: 10px;
    padding-right: 10px;
}

.review{
    text-decoration: underline;
    padding-left: 20px;
    float: right;
}

.rate-review{
    text-decoration: underline;
}

.rate-star{
    width: 30px;
    height: auto;
}

.review-pic{
    width: 70px;
    height: 70px;
    border: 1px solid #47a3da;
    margin-top: 10%;
//margin-left: 25%;
//margin-top: calc(40% - 35px);
//vertical-align: middle;
}

textarea{
    border: #9e9e9e dotted;
}

.review-header{
    margin-top: 2%;
}

.reviewer{
    font-size: 1.2rem !important;
}

.reviewer-company{
    font-style: italic;
}

.review-content{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 2%;
}

.founder-container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 0 auto;
}


.show-more{
    cursor: pointer;
    margin: 3% 0 3% 0;
}

.show-more .material-icons{
    vertical-align: middle;
}

.review-post{
    height: 10rem !important;
    resize: none;
}

.company-logo img{
    width: 120px;
    height: 120px;
    border: 1px solid cornflowerblue;
}

.company-logo {
    position: absolute;
    right: 50%;
    margin-right: -60px
}

.company_chip{
    background-color: rgb(228, 228, 228);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 2%;
    display: inline-block;
    font-family: "Roboto",sans-serif;
    font-feature-settings: "liga";
    font-size: 13px;
    font-weight: 500;
    height: 32px;
    line-height: 32px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    text-rendering: optimizelegibility;

}

.pic-center{
    margin-top: 5%;
}

.startup .social-icons {
}

.startup-title{
    position: absolute;
    bottom: 10px;
    left:0;
    right:0;
    margin: 0 auto;
}

.btn-long{
    width: 150px;
    position: relative;
    float: right;
    right: -30%;
}

.startup-container img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

@media only screen and (min-width: 0px){
    .btn-long{
        width: 100px;
        text-align: center;
        padding: 0;
    }
}
/*

@media only screen and (max-width:800px) {
.startup-title {
//margin-top: 95%;
//display: none;
}
}
@media only screen and (max-width:700px) {
.startup-title {
//margin-top: 95%;
}
}

@media only screen and (max-width:600px) {
.startup-title {
//margin-top: 20%;
left: 0;
}
}
@media only screen and (max-width:500px) {
.startup-title {
//margin-top: 25%;
}
}
@media only screen and (max-width:400px) {
.startup-title {
//margin-top: 0%;
top: 70%;
margin-left: 50%;
}
}
*/

@media only screen and (max-width:800px){
    .startup-title{
        text-align: center;
        position: absolute;
        bottom: 10px;
        right: -45%;
        left: 0;
    //width: 65%;
    //margin-right: 15%;
    }

    .startup-title h3{
        margin: 10px;
    }

    .review-header .reviewer{
        margin-left: 15% !important;
        font-size: 15px !important;
    }

    .review-header .reviewer-company{
        float: right;
        font-size: 15px !important;
    }

    .startup .social-icons{
        margin-top: 37% !important;
        margin-left: -5%;
    }

    .company-logo {
        position: absolute;
        right: 50%;
        margin-right: -60px;
    }

    .review-pic{
        height: 60px;
        width: 60px;
    }

    .pic-center{
        margin-top: 10%;
    }

    .rating-column{
        left: 10px;
    }

    .rating-column a{
        display: block;
    }


    .company-logo img{
        position: relative;
    //margin: 0 10% 0 10%;
        width: 100px;
        height: 100px;

    }

    .founder-container{
        position: relative;
    //margin-bottom: 40px;
        margin-top: -30px;;
    }

    .founder-container img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0 auto 0 auto;
    }

}

.btn-success {
    margin-top: 10px;
}


@media only screen and (min-width: 800px){

    .founder-container {
        margin-left: 10px;
        margin-top: 10px;
        float: left;
        left: 5%;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
    }

    .profile-header {
        height: 45vh;
    }

    .founder-container img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    //margin: 0 auto 0 auto;
    }

    .company-logo{
        position: absolute;
        bottom: -20px;
        left: 50px;
    }

    .startup-title h3{
        text-align: left;
    }

    .startup-title{
        position: absolute;
        left: 200px;
        bottom: 20px;
        top: 50%;

    }

    .btn-long{
        width: 200px;
        position: relative;
        float: right;
        right: -30%;
    }

}

/*
@media only screen and (min-width: 400px){
.founder-container img{
width: 60px;
height: 60px;
border-radius: 50%;
margin: 0 auto -5% auto;
}
}

@media only screen and (min-width: 570px){
.founder-cotainer {
margin-left: auto;
margin-right: auto;
margin-top: 10px;
top: -40px;
left: 7.5%;
overflow: hidden;
position: absolute;
width: 100px;
height: 100px;
border-radius: 50%;
}


.founder-container img{
width: 70px;
height: 70px;
border-radius: 50%;
margin: 0 auto 0 auto;
}

.profile-title {
margin-top: 30%;
}

.profile-title h3 {
font-weight: bold;
font-size: xx-large;
}

/*
.social-icons {
position: absolute;
bottom: 0%;
}
.social-icons img {
display: block;
margin-left: auto;
margin-right: auto;
max-width: 80%;
}
*/


/*

@media only screen and (min-width:600px){
.startup-title{
margin-right:0;
margin-left:0;
right:0;
top: 30%;
}

.btn-long{
width: 150px;
}

.founder-container img{
width: 80px;
height: 80px;
border-radius: 50%;
margin: 0 auto 0 auto;
}
}
*/

/*
============================
Update Profile Page
============================
*/

.update-pic-container {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}



.remove_button:hover{
    background-color: #f44336!important;
}

.upload_button:hover{
    background-color: cornflowerblue !important;
}

.update-pic-container img{
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid cornflowerblue;
    margin: 0 auto 0 auto;
    margin-left: calc(50% - 75px);
}

.center-align button{
    width: auto;
    cursor: pointer;
    padding: 0 5px 0 5px;
}

.move-left{
    margin-left: -3% !important;
}

.none{
    display: none;
}

.btn-flat{
    border: 1px solid #9e9e9e;
}

button.col.s11.select_remove{
    margin-left: 10px;
    width: 90px;
    border: 1px solid rgb(158, 158, 158);
}

@media only screen and (min-width: 800px){
    .social_channel span{
        margin-right: 8%;
    }
}

@media only screen and (max-width: 800px){
    .social_channel span{
        margin-left: -8% !important;
    }
}

@media only screen and (max-width: 610px){

    button.col.s11.select_remove{
        width: 60px;
        font-size: 10px;
        float: right;
    }

    .select_input{
        right: 0 !important;
    }


}

.drop-down{
    height: auto;
    position: absolute;
    border: 1px solid #479acc;
    width: 50%;
    /*background-color: white;*/
    z-index: 1000;
    background: white !important;
    color: black;
    left: 0;
    margin-left: 33.333%;
    margin-top: 5%;
}

/*
===============================
Entrepreneur's page
===============================
*/

.select{
    width:18%;
    height: 1rem;
    border: 0px solid transparent;
    border-bottom: 1px solid #26a69a ;
    font-size: 12px;"
padding: 0 0 0 0;
}

.border{
    border: 1px solid #9e9e9e;
}

.chip{
    border-radius: 4px;
}

.profile-title-ent {
    margin-top: 20%;
}

.profile-title-ent h3 {
    font-weight: bold;
    font-size: xx-large;
}

.profile-header button {
    width: 70%;
}

/*
.social-icons {
position: absolute;
bottom: 0%;
}
.social-icons img {
display: block;
margin-left: auto;
margin-right: auto;
max-width: 60%;
}
*/

.ent-thumbnail{
    height: 80px;
    width: 80px;
    border: 1px solid cornflowerblue;
}

.ent-thumbnail img{
    margin: auto;
    height: 100%;
}

@media only screen and (min-width: 993px){
    .pic-container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        bottom: -40px;
        left: 15.5%;
        overflow: hidden;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }


}


/****
===================================
Edit and Create
===================================
****/

.success-banner {
    display: block;
    margin-right: auto;
    margin-left: auto;
    word-wrap: break-word;
    max-width: 100%;
    height: auto;
    border: solid 2px;
    background-color: #c8e6c9;
    border-radius: 10px;
    border-color: #81c784;
    padding: 5px 5px 5px 5px;
    margin-top: 5%;
}


/****
===================================
People
===================================
****/

table{
    border: 0;
}

thead{
    background-color: #4f9acc !important;
    color: white;
//box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.25);
}

thead tr{
    height: 80px;
}

tbody > tr{
    background-color: transparent !important;
}

tbody img{
    padding-top: 5px;
    width: 60px !important;
    border: 0;
    height: 60px !important;
}

tbody .people-text{
    vertical-align: middle;
    padding-top: 17px;
}

span.people-text.right{
    float: none !important;
}


/*
=========================
Events
=========================
*/

.events-icon{
    max-width: 50px;
    height: auto;
}

@media only screen and (max-width: 800px){
    .events-icon{
        max-width: 20px;
    }

    .event-social-icons{
        max-width: 25px !important;
    }
}

.event-icon{
    max-width: 100%;
    height: 200px;
}

.event-social-icons{
    max-width: 20px;
    margin-left: 5%;
    float: right;
}

.event-social-icons-small{
    max-width: 20px;
    margin-left: 5%;
    float: right;
}

.icons-small{

}

/*.grey-background{
background: rgba(237, 237, 237, 1);
box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.2) !important

}*/

.no-paddding{
    padding: 0 0 0 0 !important;
}


.loader {
    height: 20vw;
    width: 100%;
//position: absolute;
//top: 0;
//bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

.loader-container{
    position: relative;
}


/*Yellow progress bar*/
.loader-text span:nth-child(1) {
    animation: blink-dot1 4s 0s linear infinite;
}
/*Blue progress bar*/
.loader-text span:nth-child(2) {
    animation: blink-dot2 4s 0s linear infinite;
}
/*Grey progress bar*/
.loader-text span:nth-child(3) {
    animation: blink-dot3 4s 0s linear infinite;
}

.stacked-progress-bars {
    margin-top: 15%;
    height: 3.5%;
    position: relative;
    display: block;
    z-index: 1000;
}

.progress-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
}

/*Yellow progress bar*/
.progress-bar:nth-child(1) {
    background-color: #DCDA15;
    animation-name: progress-bar-slide-child1;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(.09, .31, .93, .7);
    animation-iteration-count: infinite;
    z-index: 1000;

}
/*Blue progress bar*/
.progress-bar:nth-child(2) {
    background-color: #00A2DE;
    animation-name: progress-bar-slide-child2;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(.09, .31, .93, .7);
    animation-iteration-count: infinite;
    z-index: 1000;

}
/*Grey progress bar*/
.progress-bar:nth-child(3) {
    background-color: #111C24;
    animation-name: progress-bar-slide-child3;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(.09, .31, .93, .7);
    animation-iteration-count: infinite;
    z-index: 1000;
}
/*Yellow progress bar animation*/
@keyframes progress-bar-slide-child1 {
    0% {
        right: 100%;
        left: 0%;
    }
    20%,
    55% {
        right: 0%;
        left: 0%;
    }
    99% {
        right: 0%;
        left: 100%;
    }
    100% {
        right: 100%;
        left: 0%;
    }
}
/*Blue progress bar animation*/
@keyframes progress-bar-slide-child2 {
    0% {
        right: 100%;
        left: 0%;
    }
    32%,
    55% {
        right: 0%;
        left: 0%;
    }
    86%,
    99% {
        right: 0%;
        left: 100%;
    }
    100% {
        right: 100%;
        left: 0%;
    }
}
/*Yellow progress bar animation*/
@keyframes progress-bar-slide-child3 {
    0% {
        right: 100%;
        left: 0%;
    }
    45%,
    55% {
        right: 0%;
        left: 0%;
    }
    75%,
    99% {
        right: 0%;
        left: 100%;
    }
    100% {
        right: 100%;
        left: 0%;
    }
}

/*
===============
Page Footer
===============
*/
footer.page-footer{
    background-color: #4F9ACC !important;
    /*   padding: 0;
    width:100%;
    height:60px;
    position:absolute;
    bottom:0;*/
    box-shadow: 0px -5px 5px 0 rgba(0,0,0,0.3) !important;
    position: absolute;
    //margin-top: 16%;
    width: 100%;
}

.card-image img{
    height: 200px !important;
}

.ads-content{
//background-image: url('../images/image.jpg');
//background-color: transparent;
    height: 100%;
    width: 100%;
    position: relative;
//box-shadow: 8px 8px 3px 0 rgba(0,0,0,0.1) !important;
    transition: 0.4s ease-in-out;
}

.ads-content img{
    width: 100% !important;
    box-shadow: 8px 8px 3px 0 rgba(0,0,0,0.3) !important;
    transition: 0.4s ease-in-out;
}


/*
======================
School-icon
======================
*/
.school-icon{
    width: 150px;
    height: 150px;
    margin-left: calc(50% - 75px);
    margin-top: 5%;
}


/*
=======================
Reset Email Page
=======================
*/

.grey-overlay{
    background-color: rgba(169, 169, 169, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.pulse {
    margin:100px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);

    background: transparent;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0,178,301, 0.4);
    animation: pulse 2s infinite;
    transition: all 1s ease-in-out;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 10px rgba(0,178,301, 0.4);
    //background-color: #00A2DE;
    }
    50% {
        -webkit-box-shadow: 0 0 0 20px rgba(0,178,301,  0);
        background-color: transparent;

    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(0,178,301,  0.4);
    //background-color: #00A2DE;
    }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(0,178,301,  0);
        background-color: transparent;
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 10px rgba(0,178,301, 0.8);
        box-shadow: 0 0 0 10px rgba(0,178,301,  0.8);
        background-color: transparent;
    }
    30% {
        -moz-box-shadow: 0 0 0 40px rgba(0,178,301, 0.4);
        box-shadow: 0 0 0 40px rgba(0,178,301,  0.4);
        background-color: transparent;
    }
    50% {
        -moz-box-shadow: 0 0 0 20px rgba(0,178,301,  0);
        box-shadow: 0 0 0 20px rgba(0,178,301,  0);
    //background-color: #00A2DE;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(0,178,301,  0.8);
        box-shadow: 0 0 0 10px rgba(0,178,301, 0.8);
        background-color: transparent;
    }
    90% {
        -moz-box-shadow: 0 0 0 10px rgba(0,178,301,  0.4);
        box-shadow: 0 0 0 10px rgba(0,178,301, 0.4);
        background-color: transparent;
    }
    100% {
        -moz-box-shadow: 0 0 0 20px rgba(0,178,301,  0);
        box-shadow: 0 0 0 20px rgba(0,178,301, 0);
    //background-color: #00A2DE;
    }
}