/***
Techpointlist Stylesheet


****/


/**
=============================================
GENERAL
=============================================

**/

body {
    background-color: #fafafa !important;
}

h1 {
    font-size: 21px;
}
h2 {
    font-size: 17px;
}
h3 {
    font-size: 15px;
}
h4 {
    font-size: 13px;
}
h5 {
    font-size: 11px;
}
h6 {
    font-size: 9px;
}

@media only screen and (min-width: 570px){

    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }


}

.blue {
    background-color: #4f9acc !important;
}

.blue-text {
    color: #4f9acc !Important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: 0px;
    color: #9e9e9e;
}

 input[type=search]{
    background-color: transparent;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 0px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

 .bordered {
     width: 100%;
     height: auto;
     border: solid 2px #eeeeee;
     background-color: #ffffff;
     border-radius: 5px;
     padding: 0px 10px 10px 10px;
     margin-top: 5%;
 }

 .bordered .row {
     margin: 0px;
 }

 .black-layer {

 }

/****
============================================
Header
============================================
****/
nav .container ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #000000;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav a {
    color:#4f9acc;
}
nav {
    display: inline-block;
    color: #fff;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    line-height: 56px;
}

nav .row {
    margin-bottom: 0px !important;
}
nav .brand-logo {
    position: absolute;
    color: #000000;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
}

.low-nav {
    display: inline-block;
    position: relative;
    left: 23%;
}

@media only screen and (min-width: 570px){
nav .brand-logo {
    left: 10%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    }

}


/**
=============================================
ELEMENTS
=============================================
**/

.tabs .tab a:hover {
    color: #4f9acc !important;
}

.tabs .tab a {
    color: #4f9acc !important;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #4f9acc ;
    will-change: left, right;
}

.btn-round {
    border-radius: 25px;
}


.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #4f9acc;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}


/****
==============================================
Login Panel
==============================================
***/

.social-btn {
    padding: 2px !important;
    width: 80px;
    font-size: smaller;
    text-transform: capitalize;
}

@media only screen and (min-width: 900px) {
    .social-btn {
        padding: 2px !important;
        width: 115px;
        font-size: smaller;
        text-transform: capitalize;
    }
}

.login-logo {
    display: block;
    margin-left:auto;
    margin-right: auto;
    max-width: 30%;
}

.login-box {
    position: relative;
    top: 5vh;
    height: 100vh;
}

.login-box .row {
    margin-bottom: 5px;
}
.login-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 60%;
}

@media only screen and(min-width: 570px){
    .login-box .row {
        margin-bottom: 5px;
    }

    .login-panel {
        left: 23% !important;
        padding-top: 20%;
    }
}

/***
=================================================
Trending page
=================================================
****/

.welcome-banner {
    display: block;
    margin-right: auto;
    margin-left: auto;
    word-wrap: break-word;
    max-width: 100%;
    height: auto;
    border: solid 2px;
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #eeeeee;
    padding: 5px 5px 5px 5px;
    margin-top: 5%;
}
.landing-page .row .col {
    padding: 0px 2px 0px 0px;
}

.landing-page .btn {
    width: 40%;
}

@media only screen  and (min-width: 570px){
    .landing-page .btn {
        width: 23%;
        height: 40px;
    }
}

.underline {
    max-width: 31%;
    height: 3px;
    background-color: #4f9acc;
    margin-top: -15px;
}
.trend-card {
    width: 100%;
    height: auto;
    border: solid 2px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border-color: #eeeeee;
}


/****
====================================================
Edit Profile Page
===================================================
*****/

.details {
    width: 100%;
    height: auto;
    border: solid 2px #eeeeee;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
    margin-top: 5%;
}

.l-textarea {
    height: 100px;
}

.s-textarea {
    height: 70px;
}


/***
=====================================================
Logged-In User
=====================================================
**/

.pic-container {

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.p-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-header {
    display: block;
    position: relative;
    background: url("../images/innovationheader.png");
    background-size: 100%;
    height: 65vh;
    margin-bottom: 10%;
}
.profile-header button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social-icons {
    position: absolute;
    bottom: 0%;
}
.social-icons img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}


.detail-text {
    padding: 20px;
}

.black-layer {
    background: rgba(40,40,40,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#work-experience p{
    margin: 1.46rem 0 1.168rem 0;
    font-size: 12px;
}
#work-experience h3{
    color: #4f9acc
}

.span-wrapper {
    margin: 1.46rem 0 1.168rem 0;
}

#select-panel button {
    margin: 1.46rem 0 1.168rem 0;
}

@media only screen and (min-width: 570px){
    .pic-container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        bottom: -40px;
        left: 7.5%;
        overflow: hidden;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .profile-title {
        margin-top: 30%;
    }

    .profile-title h3 {
        font-weight: bold;
        font-size: xx-large;
    }
    .profile-header button {
        margin-top: 10%;
        width: 70%;
    }

    .social-icons {
        position: absolute;
        bottom: 0%;
    }
    .social-icons img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }


}

@media only screen and (min-width: 993px){
    .pic-container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        bottom: -40px;
        left: 15.5%;
        overflow: hidden;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }


}

